body {
    font-family: Arial, Helvetica, sans-serif;
   /* background: lightgray*/
    background: linear-gradient(#52ba5d, #fff);
}


/* structure */
#content { /*whole box*/
    background: #fff;
    width: 95.5%;
    border-radius: 5px;
    margin: auto;
}
#header-bottom img {
    display: block;
    margin: auto;
    width: 475px;
    align-items: center;
}
#main-nav {
    margin-bottom: -17px;
}


/* main nav */
#main-nav ul {
    padding-left: 0;
    list-style-type: none;
}
#main-nav li {
    
    background: #52ba5d;
    text-align: center;
    padding: 5px;
    border: 1px solid #302F2F;
}
#main-nav a {
    text-decoration: none;
    color: #fff200;
}
#main-nav li:hover {
    border: 1px solid white;
}
#main-content {
    padding: 5px;
    width: 98.6%;
}

/*main content*/

/*images*/
.content-img {
    display: block;
    margin: auto;
    width: 400px;
}
#bottom-img {
    display: block;
    margin: auto;
}

/*footer*/
#main-footer {
    background-image: linear-gradient(#fff, #52ba5d);
    padding-top: 5px;
    padding-bottom: 2px;
    border-radius: 0 0 5px 5px;
}
#main-footer p {
    text-align: center;
}


/* hamburger menue */
#nav-toggle div {
    width: 35px;
    height: 5px;
    background: gray;
    margin: 6px 0;
}


/* typography */

h1 {
    color: #52ba5d;
    text-align: center;
}
h2 {
    background-color: #52ba5d;
    color: #fff200;
    padding: 5px;
}
p {
    background-color: transparent;
    color: #000;
    padding: 5px;
}

.hidden {
    display: none;
}



@media only screen and (min-width: 900px) {
    #header-bottom img {
        display: block;
        margin: auto;
        width: 850px;
        align-items: center;
    }
    #main-nav ul {
        display: flex;
    }
    #main-nav li {
        flex: 1;
    }
    #nav-toggle {
        display: none;
    }
}