body
{
    background: #8E7D87;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.assignment
{
    display:flex;
    padding: 10px;
    margin: 10px;
    background: #BA7689;
    border-radius: 20px;
}
.assignment img
{
    width: 200px;
    margin: 10px;
    border: 4px solid #6BB5A9;
}
.assignment img:hover
{
    border: 4px solid #F4DD64;
}
h1
{
    color: #F2C299;
    text-align: center;
}
h2
{
    color: #6BB5A9;
}
h2:hover
{
    color: #F4DD64;
}
a:hover
{
    color: #F4DD64;
}