:root {
    --square-top: 0px;
    --ball-color: darkslategray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray
}


/* structure */

#content {
    /* "cool people use hex codes" -Portia */
    /* padding inside, margine outside*/
    background: #fff;
    padding: 5px;
    width: 80%;
    margin: auto;   /* center horizontally */
    border-radius: 5px;
}

#square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: relative;
    top: var(--square-top);
}

.circle {
    width:25px;
    height:25px;
    border-radius: 25px;
    background-color: var(--ball-color);
}

.rainbow {
    animation-name: colorAnim;
    animation-duration: 4s;
}

@keyframes colorAnim {
    0% {background-color: red;}
    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    100% {background-color: purple;}
}


/* typography */

h1 {
    color: darkslategray;
}