body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray
}


/* structure */

#content {
    /* "cool people use hex codes" -Portia */
    /* padding inside, margine outside*/
    background: #fff;
    padding: 5px;
    width: 80%;
    margin: auto;   /* center horizontally */
    border-radius: 5px;
}

/* display none - no space */
.hidden {
    display: none;
}



/* typography */

h1 {
    color: darkslategray;
}

.special {
    background-color: lightblue;
    size: 2em;
    color:lightcoral;
    border: 2px dotted lightcoral;
}