/* color declaration */
:root {
    --background-color: #ffffff;
    --main-color-1:#73000a;
    --main-color-2: #000000;
    --line-color: #c7c7c7;
    --section-color: #ececec;
}


body {
    font-family: "Berlingske Sans", "Arial", sans-serif;
    background-color: var(--background-color);
}

/* structure */
/*header ribbon 1*/
#header-bg-top {
    background-color: var(--main-color-2);
    color: var(--background-color);
    padding: 8px;
}
/*navs*/
.navigation, 
.logo-search {
    display: flex;
}
#main-header-nav-1, 
#main-header-nav-2,
#part02-nav {
    text-align: right;
    font-size: 8px;
}
#main-header-nav-1 ul, 
#main-header-nav-2 ul,
#part02-nav ul {
    padding: 0;
}
#main-header-nav-1 li, 
#main-header-nav-2 li,
#part02-nav li {
    list-style-type: none;
    padding: 5px;
    flex: 1;
}
#main-header-nav-1 li:hover, 
#main-header-nav-2 li:hover {
    background-color: var(--main-color-1);
}
#main-header-nav-1 a, 
#main-header-nav-2 a {
    text-decoration: none;
    color: var(--background-color);
}
#header-bg-top img {
    display: block;
    height: 40px;
    border: 1px solid var(--background-color);
    margin:5px;
}

/*header ribbon 2*/
#header-bg-bottom {
    background-color: var(--main-color-1);
    color: var(--background-color);
    padding: 2px;
}

/* main content */
/*main nav*/
#main-nav ul {
    padding-left: 0;
}
.first-item {
    border-top: 1px solid var(--line-color);
}
#main-nav li {
    list-style-type: none;
    text-align: center;
    padding: 5px;
}
#main-nav a {
    text-decoration: none;
    color: var(--main-color-2);
}
#main-nav li:hover {
    border: 1px solid white;
}
.historylevel,
.selected,
.internal-btn {
    border: none;
}


.within-highlights {
    display: inline-block;
}
.highlights img {
    display: block;
    margin: auto;
    float: left;
    padding: 5px;
}
.give-box a {
    text-decoration: none;
    color: var(--main-color-2);
}
.give-box img {
    display: block;
    margin: auto;
    float: right;
    padding: 5px;
    width: 200px;
}


/*footer*/
#footer-bg-top {
    background-color: var(--section-color);
}
#part02-nav a {
    text-decoration: none;
    color: var(--main-color-2)
}



/* typography */
#main-header h1 {
    color: #a52a2a;
    text-align: center;
}
.internal-btn a {
    text-align: right;
}


/*larger resolutions*/
@media only screen and (min-width: 768px) {
    #main-content {
        display: flex;
    }
    #main-content-nav,
    #right-column {
        flex: 1;
    }
    #middle-column {
        flex:2;
        padding: 5px;
    }
    .give-box img{
        float: none;
        text-align: left;
    }
}