/* Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    background: #f1f2e9;
}


/* Structure */
#main-header, #main-footer {
    background-color: #f2f0d5;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #a4bfb8;
}
#main-content{
    background-color: #a4bfb8;
    border: 1px solid #a4bfb8;
}
#main-aside {
    background-color: #d98282;
    padding: 15px;
}
.box {
    padding: 10px;
}


/* Navigation */
#main-nav ul {
    padding-left: 0;
}
#main-nav li {
    list-style: none;
    border: 1px solid #a4bfb8;
    text-align: center;
}
#main-nav a {
    text-decoration: none;
    padding: 5px;
    background-color: #d98282;
    color: #fff;
    display:block;
}


/* Aside */
#main-aside ul {
    padding: 0;
}
#main-aside li {
    list-style: none;
}
#main-aside a, #main-aside h3 {
    color: #fff;
}


/* Typography */
h1 { /*header*/
    text-align: center;
    color: #5d8689;
}
/*main-content*/
.box h3{ 
    text-align: center;
    color: #fff;
}
img {
    display:block;
    margin: auto;
    max-width: 90%;
}
.box p {
    color: #fff;
}

#footer-content, #main-footer h2 {
    color: #5d8689;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.copyright {
    text-align: center;
    color: #5d8689;
}
.box {
    margin-left: 10px;
    margin-right: 10px;
}
#main-header h2 {
    padding-left: 10px;
}
.image, .info{ 
    padding: 10px;
}


/* Media Queries */
@media only screen and (min-width:768px) {
    body {
        background-color: black;
    }
    #main-content, .container, .img-info, .columns {
        display: flex; /* makes columns */
    }
    .img-info {
        justify-content: center;
        align-items: center;
    }

    .one { /* one to one ration */
        flex:1;
    }

    .two { /* makes this column be bigger */
        flex:2;
    }

    .three { /* makes this column be bigger */
        flex:3;
    }

    .four { /* makes this column be bigger */
        flex:4;
    }

    #main-nav li {
        flex:1;
    }
    
}