/* Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    background: url("images/ocean.jpg");
}

/* Structure */
#content {
    width:95%;
    margin:auto;
    background-color: #F5f5f5;
    opacity:.9;
    border-radius: 10px;
}

#species section {
    background-color: lightgreen;
    padding: 5px;
    margin: 5px;
}

#main-aside {
    background-color: lightsalmon;
}
#news section {
    background-color: lightcyan;
}

img {
    max-width: 100%;
}

#main-header {
    background-color: skyblue;
    border-radius: 10px;
}

#main-footer {
    background-color: violet;
    border-radius: 10px;
}

/* Navigation */
#main-nav ul {
    padding-left: 0;
}
#main-nav li {
    list-style: none;
    border-bottom: 1px solid violet;
}
#main-nav a {
    text-decoration: none;
    padding: 5px;
    background-color: black;
    color: violet;
    display:block;
}



/* Typography */
#main-footer p {
    text-align: center;
}

/* Media Queries */
@media only screen and (min-width:600px) {
    .columns {
        display: flex; /* makes columns */
    }

    .one { /* one to one ration */
        flex:1;
    }

    .two { /* makes this column be bigger */
        flex:2;
    }

    .three { /* makes this column be bigger */
        flex:3;
    }

    .four { /* makes this column be bigger */
        flex:4;
    }

    #main-nav li {
        flex:1;
    }
    
}

@media only screen and (min-width:768px) {

}