:root {
    --background-color: lightgray;
    --container-color:darkslategray;
    --label-color: violet;
    --p-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray
}


/* structure */
#main-header {

}

#main-content {

}
#box01,
#box02, 
#box03 {
    padding: 5px;
    background: var(--container-color);
    margin: 5px;
    border-radius: 15px;
}
#main-footer {
    text-align: center;
}


img,
#change-img {
    display: block;
    margin: auto;
}
.image {
    width: 200px;
    height: 200px;
    background-image: url("https://via.placeholder.com/200/ee82ee");
}
.new-image {
    background-image: url("https://via.placeholder.com/200/ffffff");
}

.image-container {
    position: relative;
    width: 200px; 
    height: 200px; 
} 
.image-container img {
    width: 100%;
    height: 100%;
    transform: rotate(0deg); 
    transition: transform 0.3s ease-in-out; 
}
#slider {
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
}
#slider:hover {
    opacity: 1;
}

.icon {
    background-image: url(https://www.vhv.rs/dpng/d/28-285541_star-icon-white-png-transparent-png.png);
}



/* typography */

h1, 
h2,
h3 {
    color: var(--container-color);
    text-align: center;
}
h2 {
    color: var(--label-color);
}
h3 {
    color: var(--p-color)
}


/* animations */




/*larger resolutions*/
@media only screen and (min-width: 768px) {
    #columns {
        display: flex;
    }
    #box01, 
    #box02, 
    #box03 {
        flex: 1;
    }
}