body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/76FaW1Q-ice-cream-wallpaper.jpg);
}


/* structure */

#content {
    /* "cool people use hex codes" -Portia */
    /* padding inside, margine outside*/
    background: #c7e3e5;
    padding: 5px;
    width: 80%;
    margin: auto;   /* center horizontally */
    border-radius: 5px;
}


/* navigation */

#main-nav a {
    /* remove the underline */
    text-decoration: none;
    background: #41d8ca;
    color: #f4f3d4;
    padding: 5px;
    border-radius: 2px;
}

#main-nav a:hover {
    background: #f4a2d2;
}


/* typography */

h1 {
    color: #f4a2a9;
}

.special {
    color: deepskyblue;
}