/*variables*/
:root {
    --body-width: 90%;
    --main-bg: #a887bf;
    --head-bg: #8de2ac;
    --nav-bg: #93D2F3;
    --accent-color: #ffffff;
    --accent-text: #5fcece;
    
  --numDays: 5;
  --numHours: 10;
  --timeHeight: 60px;
  --calBgColor: #8de2ac;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
}

/* Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--main-bg);
}

/***** Header *****/
#main-header {
    background-color: var(--head-bg);
}
#title-login {
    width: var(--body-width);
    margin:auto;
}
#title {
    color: var(--main-bg);
    text-align: center;
}
#login {
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding: 1%;
}

    /* Navigation */
#main-nav {
    background-color: var(--nav-bg);
}
#main-nav ul {
    padding-left: 0;
    width: var(--body-width); 
    margin:auto;
}
#main-nav li {
    list-style: none;
    text-align: center;
}
#main-nav a {
    text-decoration: none;
    padding: 5px;
    background-color: var(--nav-bg);
    color: var(--accent-color);
    display:block;
}
#main-nav a:hover {
    color: var(--main-bg);
}
/**********/

/***** Main-Content *****/
.calendar {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    margin: 2rem;
  }
  .time-marker {
    color: var(--accent-color);
  }
  .timeline {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  }
  
  .days {
    display: grid;
    grid-column: 2;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  .events {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    border-radius: 5px;
    background: var(--calBgColor);
  }
  .start-10 {
    grid-row-start: 2;
  }
  .start-12 {
    grid-row-start: 4;
  }
  .start-1 {
    grid-row-start: 5;
  }
  .start-2 {
    grid-row-start: 6;
  }
  .end-12 {
    grid-row-end: 4;
  }
  .end-1 {
    grid-row-end: 5;
  }
  .end-3 {
    grid-row-end: 7;
  }
  .end-4 {
    grid-row-end: 8;
  }
  .end-5 {
    grid-row-end: 9;
  }
  .title {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  .event {
    border: 1px solid var(--eventBorderColor);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
  .space,
  .date {
    height: 60px
  }
  .corp-fi {
    background: var(--eventColor1);
  }
  .ent-law {
    background: var(--eventColor2);
  }
  .writing {
    background: var(--eventColor3);
  }
  .securities {
    background: var(--eventColor4);
  }
  
  .date {
    display: flex;
    gap: 1em;
  }
  
  .date-num {
    font-size: 3rem;
    font-weight: 600;
    display: inline;
  }
  
  .date-day {
    display: inline;
    font-size: 3rem;
    font-weight: 100;
  }


/**********/

/***** Footer *****/
#main-footer {
    background-color: var(--head-bg);
    text-align: center;
    color: var(--main-bg);
    padding: .1%;
    margin-top: 1%;
}

/* Media Queries */
@media only screen and (min-width:600px) {
    .columns, #schedule-todo, #container {
        display: flex; /* makes columns */
    }

    #main-nav li, .schedule, .todo, .box {
        flex:1;
    }
    .box {flex-wrap: wrap;}
    
}

@media only screen and (min-width:768px) {

}