/*Structure */
:root {
    --main-bg: #ffffff;
    --mid-bg: #ececec;
    --dark-bg: #000000;
    --light-text: #ffffff;
    --bg-complement: #73000a;
    --hover-light: #cc2e40;
    --hover-dark: #490004;
    --shadow: rgba(0, 0, 0, 0.2);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--main-bg);
    margin: 0px;
}

/* header */
#main-header {
    background-color:  var(--dark-bg);
    color: var(--light-text);
    padding-top: 1%;
}
#header-top-links { /*i think I did this wrong*/
    display: none;
}
.search-bar { /*i think I did this wrong*/
    display: none;
}

#header-middle {
    display: flex;
}
#header-middle .search-menue {
    position:absolute;
    right: 0;
}

#header-main-nav ul {
    padding-left: 0;
    text-wrap: nowrap;
}
#header-main-nav li {
    list-style: none;
    text-align: center;
}
#header-main-nav a {
    text-decoration: none;
    padding: 5px;
    background-color: var(--bg-complement);
    color: #fff;
    display:block;
}
#header-main-nav a:hover {
    background-color: var(--hover-dark);
}


/* main-content */
#big-img {
    display:block;
    width: 100%;
    height:auto;
    margin: auto;
}
    /*section-one*/
#content-section-one {
    width: 85%;
    margin: auto;
    padding-bottom: 2%;
}
#content-section-one .title {
    color: var(--bg-complement);
    font-size: 72px;
}
    /*section-two*/
#content-section-two {
    background-color: var(--bg-complement);
    color: var(--light-text);
}
#content-section-two img{
    padding-top: 5%;
    display:block;
    width: 90%;
    height:auto;
    margin: auto;
}
#content-section-two .txt {
    width: 85%;
    margin: auto;
    padding-bottom: 5%;
}
#content-section-two .txt a{
    text-decoration: none;
    width: auto;
    color: var(--light-text);
    padding: 2%;
    background-color: var(--dark-bg);
    border: 1px solid var(--main-bg);
    border-width: fit-content;
}
#content-section-two .txt a:hover {
    color: var(--bg-complement);
    background-color: var(--main-bg);
    border: 1px solid var(--bg-complement);
}
#content-section-two .txt p {
    padding-bottom: 2%; 
}
    /*section-three*/
#content-section-three {
    background-color: var(--mid-bg);
    text-align: center;
    padding: 5%;
}
#content-section-three h2,
#content-section-three p,
#content-section-three a {
    width: 85%;
    margin: auto;
    padding-bottom: 5%;
    text-align: center;
}
#content-section-three h2 {
    padding-top: 2%;
    color: var(--bg-complement);
}
#content-section-three a{
    text-decoration: none;
    width: auto;
    color: var(--light-text);
    padding: 2%;
    background-color: var(--bg-complement);
    border: 1px solid var(--main-bg);
    border-width: fit-content;
}
#content-section-three a:hover {
    color: var(--bg-complement);
    background-color: var(--main-bg);
    border: 1px solid var(--bg-complement);
}
    /*section-four*/
#content-section-four .content{
    text-align: center;
    width: 85%;
    margin: auto;
}
#content-section-four .content h2{
    color: var(--bg-complement);
    font-size: 40px;
}
#gallary {
    width: 85%;
    margin: auto;
}
#gallary section {
    width: 25%;
    margin: 2%;
    display:block;
    width: 90%;
    height:auto;
}
#gallary section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height:auto;
}
#gallary section:hover {
    box-shadow: 0 4px 8px var(--shadow);
}
    /*section-five*/
#content-section-five {
    background-color: var(--dark-bg);
    color: var(--light-text)
}
#content-section-five img{
    padding-top: 5%;
    display:block;
    width: 90%;
    height:auto;
    margin: auto;
}
#content-section-five .txt {
    width: 85%;
    margin: auto;
    padding-bottom: 5%;
}
#content-section-five .txt a{
    text-decoration: none;
    width: auto;
    color: var(--light-text);
    padding: 2%;
    background-color: var(--bg-complement);
    border: 1px solid var(--main-bg);
    border-width: fit-content;
}
#content-section-five .txt a:hover {
    color: var(--bg-complement);
    background-color: var(--main-bg);
    border: 1px solid var(--bg-complement);
}
#content-section-five .txt p {
    padding-bottom: 2%; 
}


/*footer*/
#main-footer {
    color: var(--light-text);
    background-color: var(--bg-complement);
}
    /*footer-nav*/
#footer-bottom-nav {
    background-color: var(--dark-bg);
}
#footer-nav .link-section {
    justify-content: space-between;
}
#footer-nav ul {
    padding-left: 0;
}
#footer-nav li {
    list-style: none;
    text-align: center;
    text-align: left;
    font-size: .75em;
}
#footer-nav a {
    text-decoration: none;
    padding: 5px;
    color: var(--light-text);
    display:block;
}
#footer-nav a:hover {
    background-color: var(--hover-light);
}
#footer-nav section.columns {
    display: flex;
}
#footer-nav section.one {
    flex: 1;
}




/* Media Queries */
@media screen and (min-width:650px){
    #gallary {
        display: flex;
        flex-wrap: wrap;
    }
    #gallary section {
        width: 45%;
    }
    #content-section-two,
    #content-section-five {
        display: flex;
    }
    .content-two
    .content-five {
        flex: 1;
    }
    #content-section-two .txt,
    #content-section-five .txt{
        padding:2%;
    }
}
@media only screen and (min-width:1000px) {
    #header-top-links { /*it wont display*/
        display: block;
    }
    #header-main-nav ul {
        display: flex;
    }
    #header-main-nav li {
        flex:1;
    }
    #gallary {
        flex-wrap: nowrap;
    }
    #gallary section {
        flex:1;
    }
    #content-section-five img {
        flex:3;
    }

    #header-top-links {
        display: none;
    }
}





