/*Structure */
:root {
    --main-bg: #ffffff;
    --mid-bg: #ececec;
    --dark-bg: #000000;
    --light-text: #ffffff;
    --bg-complement: #73000a;
    --hover-light: #cc2e40;
    --hover-dark: #490004;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--main-bg);
    margin: 0px;
}

/* header */
#main-header {
    background-color:  var(--dark-bg);
    color: var(--light-text)
}
#header-top-links {
    display: none;
}
.search-bar {
    display: none;
}

#header-middle {
    display: flex;
}
#header-middle .search-menue {
    position:absolute;
    right: 0;
}

#header-main-nav ul {
    padding-left: 0;
    text-wrap: nowrap;
}
#header-main-nav li {
    list-style: none;
    text-align: center;
}
#header-main-nav a {
    text-decoration: none;
    padding: 5px;
    background-color: var(--bg-complement);
    color: #fff;
    display:block;
}
#header-main-nav a:hover {
    background-color: var(--hover-dark);
}


/* main-content */
#big-img {
    display:block;
    width: 100%;
    height:auto;
    margin: auto;
}
    /*section-one*/
#main-content .title {
    color: var(--bg-complement);
    font-size: 72px;
}
    /*section-two*/
#content-section-two {
    background-color: var(--bg-complement);
    color: var(--light-text);
}
#content-section-two img{
    padding-top: 5%;
    display:block;
    width: 90%;
    height:auto;
    margin: auto;
}
#content-section-two .txt {
    width: 85%;
    margin: auto;
    padding-bottom: 5%;
}
#content-section-two .txt a{
    text-decoration: none;
    width: auto;
    color: var(--light-text);
    padding: 2%;
    background-color: var(--dark-bg);
    border: 1px solid var(--main-bg);
    border-width: fit-content;
}
    /*section-three*/
#content-section-three {
    background-color: var(--mid-bg);
    text-align: center;
}
#content-section-three h2,
#content-section-three p,
#content-section-three a {
    width: 85%;
    margin: auto;
    padding-bottom: 5%;
    text-align: center;
}
#content-section-three h2 {
    color: var(--bg-complement);
}
#content-section-three a{
    text-decoration: none;
    width: auto;
    color: var(--light-text);
    padding: 2%;
    background-color: var(--dark-bg);
    border: 1px solid var(--main-bg);
    border-width: fit-content;
}


/* Media Queries */
@media only screen and (min-width:1000px) {
    #header-main-nav ul {
        display: flex;
    }
    #header-main-nav li {
        flex:1;
    }

    #header-top-links {
        display: none;
    }
}





.columns-all {
    display: flex;
}
img {
    max-width: 100%;
}


#main-header {
    position: relative;
    background-color: var(--dark-bg);
    color: var(--light-text);
    margin: 0px;
}
#main-footer {
    color: var(--light-text);
}
#footer-top {
    background-color: var(--bg-complement);
} 
#footer-bottom-nav {
    background-color: var(--dark-bg);
}
#footer-middle {
    background-color: var(--bg-complement);
}
#main-img {
    max-width: 50%;
    margin-left: 5px;
}

/* Login Menue */
#login-menue {
    text-align: right;
}
#login-menue ul {
    display: none;
    padding-left: 0;
}
#login-menue li {
    list-style-type: none;
    padding:5px;
}
#login-menue a {
    text-decoration: none;
    color: blueviolet;
}
#login-menue a:hover {
    text-decoration: underline;
}

/* Navigation - #main-nav */
#main-nav ul {
    padding-left: 0;
}
#main-nav li {
    list-style: none;
    text-align: center;
}
#main-nav a {
    text-decoration: none;
    padding: 5px;
    background-color: var(--bg-complement);
    color: var(--light-text);
    display:block;
}
#main-nav a:hover {
    background-color: var(--hover-dark);
}

/*footer-nav*/
#footer-nav .link-section {
    justify-content: space-between;
}
#footer-nav ul {
    padding-left: 0;
}
#footer-nav li {
    list-style: none;
    text-align: center;
    text-align: left;
    font-size: .75em;
}
#footer-nav a {
    text-decoration: none;
    padding: 5px;
    color: var(--light-text);
    display:block;
}
#footer-nav a:hover {
    background-color: var(--hover-light);
}
#footer-nav section.columns {
    display: flex;
}
#footer-nav section.one {
    flex: 1;
}

/*footer-bottom-nav*/
#footer-bottom-nav ul{
    margin:auto;
    padding-left: 0;
}
#footer-bottom-nav li {
    list-style: none;
    text-align: center;
}
#footer-bottom-nav a {
    text-decoration: none;
    padding: 5px;
    color: var(--light-text);
}
#footer-bottom-nav a:hover {
    background-color: var(--hover-dark);
}
#footer-bottom-nav ul {
    display: flex;
}
#footer-bottonm-nav li {
    flex-wrap: wrap;
}



/* Larger Resolutions */
@media only screen and (min-width:650px) {
    #main-nav ul, .columns, #boxes {
        display: flex; /* makes columns */
    }
    #settings {
        display: none;
    }
    #login-menue ul {
        display:flex;
    }
    #main-nav li {
        flex:1;
    }
    #boxes.columns {
        flex:1;
    }
    
}
@media only screen and (min-width:1200xp) {
    .one {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
} 