/*main content*/
/*images*/
.content-img {
    display: block;
    margin: auto;
    width: 400px;
}
#bottom-img {
    display: block;
    margin: auto;
}
/* typography */

h1 {
    color: #52ba5d;
    text-align: center;
}
h2 {
    background-color: #52ba5d;
    color: #fff200;
    padding: 5px;
}
p {
    background-color: transparent;
    color: #000;
    padding: 5px;
}



@media only screen and (min-width: 900px) {
    
}