/*variables*/
:root {
    --body-width: 90%;
    --main-bg: #a887bf;
    --head-bg: #8de2ac;
    --nav-bg: #93D2F3;
    --accent-color: #ffffff;
    --accent-text: #5fcece;
}

/* Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--main-bg);
}

/***** Header *****/
#main-header {
    background-color: var(--head-bg);
}
#title-login {
    width: var(--body-width);
    margin:auto;
}
#title {
    color: var(--main-bg);
    text-align: center;
}
#login {
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding: 1%;
}

    /* Navigation */
#main-nav {
    background-color: var(--nav-bg);
}
#main-nav ul {
    padding-left: 0;
    width: var(--body-width); 
    margin:auto;
}
#main-nav li {
    list-style: none;
    text-align: center;
}
#main-nav a {
    text-decoration: none;
    padding: 5px;
    background-color: var(--nav-bg);
    color: var(--accent-color);
    display:block;
}
#main-nav a:hover {
    color: var(--main-bg);
}
/**************************/

/***** Main-Content *****/
 /*schedule and todo section*/
#schedule-todo, #resources {
    width: var(--body-width);
    margin: auto;
}
.schedule, .todo {
    margin: 3%;
}
.content {
    background-color: var(--head-bg);
    color: var(--accent-color);
    border-radius: 10px;
}
table {
    padding: 1%;
}
 /*resource section*/
#container {
    background-color: var(--nav-bg);
    padding: 3%;
    border-radius: 10px;
}
.box {
    background-color: var(--head-bg);
    border-radius: 10px;
    padding: 3%;
    margin: 3%;
}
.box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.quant {
    display: flex;
}
.one {
    flex: 1;
}
a {
    text-decoration: none;
}



h2 span{
    color: var(--main-bg);
    background-color: var(--accent-text);
    border-radius: 10px;
    padding: 1%;
}
h4{
    color: var(--main-bg);
}
ul, .box p {
    color: var(--accent-color);
}
.description {
    margin: 2%;
}

/**********/

/***** Footer *****/
#main-footer {
    background-color: var(--head-bg);
    text-align: center;
    color: var(--main-bg);
    padding: .1%;
    margin-top: 1%;
}
/******************/

/* Media Queries */
@media only screen and (min-width:600px) {
    .columns, #schedule-todo {
        display: flex; /* makes columns */
    }
    #container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
    }
    #main-nav li, .schedule, .todo, .box {
        flex:1;
    }
}
@media only screen and (min-width:700px) {
    #container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width:1000px) {
    #container {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media only screen and (min-width:1200px) {
    #container {
        grid-template-columns: repeat(6, 1fr);
    }
}