/*Structure */
:root {
    --main-background-color: skyblue;
    --gallery-back: #f0f8ff;
    --primary-color: darkblue;
    --secondary-color: skyblue;
    --highlight-color: pink;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--main-background-color);
}

#content {
    background-color: white;
}

/* gallery */
#gallery section {
    background-color: var(--gallery-back);
    padding: 10px;
    margin: 10px;
}

.columns-all {
    display: flex;
}
img {
    max-width: 100%;
}

/* header */
#main-header {
    position: relative;
}
#main-img {
    margin-right: 5px;
}

/* Login Menue */
#login-menue {
    width: fit-content;
    position: absolute;
    top: 3%;
    right: 3%;
}
#login-menue ul {
    display: none;
    padding-left: 0;
}
#login-menue li {
    list-style-type: none;
    padding:5px;
}
#login-menue a {
    text-decoration: none;
    color: blueviolet;
}
#login-menue a:hover {
    text-decoration: underline;
}


/* ball animation */
#ball {
    width: 50px;
    height: 50px;
    background-color: magenta;
    border-radius: 50%;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 10;
    position: relative;
}

@keyframes bounce {
    0% { 
        background-color: magenta;
        top:0;
    }
    25% {
        background-color: cyan;
    }
    50% {
        background-color: yellow;
        top: 100px;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color: green;
        top: 0px;
    }
}


/* Larger Resolutions */
@media only screen and (min-width:650px) {
    #content {
        width: 70%;
        margin: auto;
    }
    .columns {
        display: flex; /* makes columns */
    }
    #settings {
        display: none;
    }
    #login-menue ul {
        display:flex;
    }
    .one {
        flex: 1;
    }
    #gallery {
        flex-wrap: wrap;
    }
    #gallery section {
        flex: 33%;
    }
}